<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="2" bgcolor="aqua">
    <tr><th>Welcome</th></tr>
    <tr><td bgcolor="#ff1493">Name:{{ name }}</td></tr>
    <tr><td bgcolor="#ff1493">Age:{{ age }}</td></tr>
    <tr><td bgcolor="#ff1493">Contact No:{{ contact }}</td></tr>
    <tr><td bgcolor="#ff1493">Email-Id:{{ email }}</td></tr>
    <tr><td bgcolor="#ff1493">Gender:{{ gender }}</td></tr>
    <tr><td bgcolor="#ff1493">Designations:{{ designation }}</td></tr>
    <tr><td bgcolor="#ff1493">Salary:{{ salary }}</td></tr>
    <tr><td bgcolor="#ff1493">User Name:{{ username }}</td></tr>
    <tr><td bgcolor="#ff1493">Password:{{user_password }}</td></tr>

</table>

</body>
</html>